/* Add application styles & imports to this file! */
@import '~@ionic/angular/css/ionic.bundle.css';

.titulo {
  text-align: center;
}

:root {
  --ion-font-family:"Varela Round", sans-serif;
  
  --ion-toolbar-background:linear-gradient(0deg,blue 0%, black 100% );
  --ion-toolbar-color: yellow;

  --ion-background-color:linear-gradient(180deg,blue 0%,purple 100%);

  --ion-tab-bar-background: black;
  --ion-tab-bar-color: yellow;
  --ion-tab-bar-color-selected: red;

  --ion-text-color: white;
  --ion-text-color-rgb:255,255,255;
  
  --ion-card-background:linear-gradient(139deg,blue 0%,transparent 100%);
  --ion-item-background:transparent;
}

  .conteudo{
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  ion-card{
    border-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition-duration: 500ms;
  }

  ion-card:hover {
    transform:scale(1.03);
  }
  

  .img-item{
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
    max-width: 400px; 
  }


    
  
